<header class="bg-primary-dark flex w-full items-center py-[20px]">
  <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3">
    <a href="#">
      <img src="./img/logo.svg" alt="Logo" class="h-[34px] w-[137px] object-contain sm:h-[58px] sm:w-[248px]" />
    </a>
    <nav class="hidden lg:block">
      <ul class="flex items-center space-x-[56px]">
        <li>
          <a href="#services" class="hover:text-primary-light text-lg text-white transition-colors">Послуги</a>
        </li>
        <li>
          <a href="#about" class="hover:text-primary-light text-lg text-white transition-colors">Про нас</a>
        </li>
        <li>
          <a href="#comments" class="hover:text-primary-light text-lg text-white transition-colors">Як ми працюємо</a>
        </li>
        <li>
          <a href="#contacts" class="hover:text-primary-light text-lg text-white transition-colors">Відгуки</a>
        </li>
        <li>
          <a href="#contacts" class="hover:text-primary-light text-lg text-white transition-colors">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
